* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-size: 17px;
}

table {
  width: 600px;
  /* border: 1px solid black; */
}

/* th, td {
  border: 1px solid black;
} */

table thead {
  background-color: #ccc;
}

th {
  font-weight: normal;
}

th, td {
  padding: 10px;
  text-align: left;
}

tbody tr:hover {
  background-color: #ddd;
}

tbody td {
  /* border-bottom: 1px solid #ccc */
}

tbody tr:nth-child(even) {
  background-color: #eee;
}